.iconFull{
    color:#FF6060;
    height:24px;
    width:24.75px;
}

.iconEmpty{
    height:24px;
    width:24.75px;
    color: grey;
    border: grey;
}

@media (max-width:768px){
    .iconEmpty{
        height:13px;
        width:13.41px;
    }
    .iconFull{
        height:13px;
        width:13.41px;
    }
    
}